Repository Androz2091/discord-player, pull requests merged in 2023-07, with the labels that each got.

#1757 createProgressBar options
  packages/discord-player/src/manager/GuildQueuePlayerNode.ts
  packages/discord-player/src/types/types.ts
Labels: area:main

#1760 feat: introduce BridgeSource
  apps/music-bot/src/KarasuClient.ts
  apps/website/src/pages/guide/_guides/extractors/set_bridge_source.mdx
  apps/website/src/pages/guide/index.tsx
  packages/discord-player/src/extractors/ExtractorExecutionContext.ts
  packages/discord-player/src/manager/GuildNodeManager.ts
  packages/discord-player/src/types/types.ts
  packages/extractor/src/extractors/AppleMusicExtractor.ts
  packages/extractor/src/extractors/SoundCloudExtractor.ts
  packages/extractor/src/extractors/SpotifyExtractor.ts
  packages/extractor/src/extractors/common/BridgeProvider.ts
  packages/extractor/src/extractors/common/helper.ts
  packages/extractor/src/extractors/index.ts
  packages/tsconfig/base.json
Labels: semver:minor, area:extractor

#1780 feat(AttachmentExtractor): experimental mediaplex support
  apps/website/src/data/showcase.ts
  package.json
  packages/extractor/package.json
  packages/extractor/src/extractors/AttachmentExtractor.ts
  yarn.lock
Labels: area:extractor
